.lines {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.line {
  position: absolute;
  width: 1px;
  background: color-mix(in srgb, var(--color-bg) 70%, white 30%);
  opacity: 0.1;
}
