.lines {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.line-horizontal {
  position: absolute;
  background: color-mix(in srgb, var(--color-bg) 70%, white 30%);
  opacity: 0.1;
}

.line-vertical {
  position: absolute;
  background: color-mix(in srgb, var(--color-bg) 55%, white 45%);
  opacity: 0.14;
}
